img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
}

.logo {
	height: 80px;
	width: 80px;
}

body {
    background: #fff;
}

body {
	background-color: white;
    color: #333;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.66;
    float: left;
    display: block;
}

header {
	position: relative;
	z-index: -10;
}

ul {
	width: 100%;
	padding: 15px;
	margin: 0px auto 0px auto; 
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
}

li {
	display: inline;
	margin: 0px 10px;
	text-align: center;
}

footer {
  padding: 30px 0; 
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 12px;
  text-align: center;
  
}



